@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&family=Corben:wght@400;700&display=swap');



html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #def3fa;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}

main, header{
    padding: 20px;
}

header {
    background-color: #2695a8;
    color: white;
    text-align: center;
    padding: 20px;
    align-items: center;
 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Buenard", serif;
}

header h1 {
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: bold;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}


header img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #0f3e50;
    margin-bottom: 10px;
    display: inline-block;

}

nav {
    font-size: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0px;
}

nav a {
    border-bottom: 2px solid;
    border-color: #0f3e50;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: 600;
    background-color: #25a7be;
    font-size: 16px;
}

nav a:hover {
    background-color: #1f8b9e;
    text-decoration: none;
}

#nav-start {
    border-left: 2px solid;
    border-bottom-left-radius: 16px;
}

#nav-end {
    border-right: 2px solid;
    border-color: #0f3e50;
    border-bottom-right-radius: 16px;
    background-color:rgb(165, 15, 15);
    color: white;
}

#nav-end:hover {
    background-color:rgb(138, 13, 13);
}


section.work-experience {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section.education {
    background-color: #f5f5f5; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

h1, h2, h3, h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

#name-title {
    margin-bottom: 0px;
    margin-top: 0px;
}

#work-title {
    margin-bottom: 10px;
    margin-top: 0px;
}

a {
    color: #002b58;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.language-section {
    margin-bottom: 10px;
}

.language-section p {
    font-weight: bold;
}

.language-section ul {
    padding-left: 20px;
}

section ul {
    padding-left: 20px;
}

footer {
    padding-left: 20px;
    padding: 20px;
    background-color: #2695a8;
    color: #fff;
}

@media (max-width: 768px) {
    header img {
        width: 250px;
    }
}

@media (max-width: 688px) {
    nav a {
        width: 120px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        border-color: #0f3e50;
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        font-weight: 600;
        background-color: #25a7be;
        font-size: 16px;
    }

    #nav-start {
        border-left: 0px;
        border-bottom-left-radius: 0px;
    }
    
    #nav-end {
        border-right: 2px solid;
        border-color: #0f3e50;
        border-bottom-right-radius: 16px;
        background-color:rgb(165, 15, 15);
        color: white;
    }
}

@media (max-width: 514px) {
    header img {
        width: 200px;
    }

    header h1 {
        font-size: 50px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

@media (max-width: 452px) {
    header h1 {
        font-size: 45px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}